.character-header {
    font-size: 100px;
    color: #000000;
    text-shadow: -5px 0 #ffe81f, 0 5px #ffe81f, 5px 0 #ffe81f, 0 -5px #ffe81f;
}

.character-image {
    border-radius: 10vh;
    height: 64vh;
}

.character {
    display: flex;
    width: 140vh;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vh;
    border: 2px solid #ffe81f;
    border-radius: 2vh;
    padding: 15px;
}

.characterInfo {
    color: #ffe81f;
    /* text-shadow: -0.5px 0 #000, 0 0.5px #000, 0.5px 0 #000, 0 -0.5px #000; */
    text-align: center;
    font-size: 5vh;
}

.character-back {
    margin-top: 4vh;
    width: 18vh;
    height: 6vh;
    background: black;
    border: 2px solid #FFE81B;
    border-radius: 2vh;
    font-size: 4vh;
    color: #000000;
    text-shadow: -1px 0 #FFE81F, 0 1px #ffe81f, 1px 0 #ffe81f, 0 -1px #ffe81f;
}
